.vs/VideoDownsizer/CopilotIndices/17.14.1231.31060/CodeChunks.db
.vs/VideoDownsizer/CopilotIndices/17.14.1231.31060/SemanticSymbols.db
.vs/VideoDownsizer/FileContentIndex/a8350fb8-5b39-47cd-a1fd-54b1c333c424.vsidx
.vs/VideoDownsizer/v17/.suo
.vs/VideoDownsizer/v17/DocumentLayout.backup.json
.vs/VideoDownsizer/v17/DocumentLayout.json
VideoDownsizer/bin/Debug/ffmpeg.exe
VideoDownsizer/bin/Debug/ffplay.exe
VideoDownsizer/bin/Debug/ffprobe.exe
VideoDownsizer/bin/Debug/VideoDownsizer.exe
VideoDownsizer/bin/Debug/VideoDownsizer.exe.config
VideoDownsizer/bin/Debug/VideoDownsizer.pdb
VideoDownsizer/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
VideoDownsizer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VideoDownsizer/obj/Debug/VideoDownsizer.csproj.AssemblyReference.cache
VideoDownsizer/obj/Debug/VideoDownsizer.csproj.CoreCompileInputs.cache
VideoDownsizer/obj/Debug/VideoDownsizer.csproj.FileListAbsolute.txt
VideoDownsizer/obj/Debug/VideoDownsizer.exe
VideoDownsizer/obj/Debug/VideoDownsizer.exe.config
VideoDownsizer/obj/Debug/VideoDownsizer.pdb
/.vs/VideoDownsizer/copilot-chat
.vs/VideoDownsizer/CopilotIndices/17.14.1368.60722/CodeChunks.db
.vs/VideoDownsizer/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
.vs/VideoDownsizer/FileContentIndex/558a3f1b-7c2f-47be-a0ca-f27e138f5d62.vsidx
.vs/VideoDownsizer/FileContentIndex/66614294-ef74-4de9-b42d-e9eea2f8628b.vsidx
